@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  margin: 0;
}
* a {
  text-decoration: none;
}
* p {
  font-family: "Roboto";
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 5px 5px lightgrey;
  padding: 10px;
}
header .mainlogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}
header .mainlogo span {
  display: flex;
  align-items: center;
}

.loader {
  position: fixed;
  left: 45%;
  top: 45%;
  font-size: 70px;
  animation-name: rotate, disappear;
  animation-duration: 1s, 3s;
  animation-timing-function: ease-in-out, linear;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: forwards;
}

.loader::after {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main,
footer,
header {
  animation: disappear reverse 4s 1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
.location {
  display: flex;
  flex-wrap: wrap;
  min-height: 50px;
  max-height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  font-size: 12px;
  gap: 16px;
}
@media only screen and (max-width: 767px) {
  .location {
    min-height: 60px;
    max-height: 60px;
    justify-content: center;
    align-items: center;
  }
}
.location .fa-solid {
  font-size: 20px;
}

.firstsection {
  display: flex;
  flex-flow: wrap row;
  background: linear-gradient(white, #eaeaea);
  justify-content: space-evenly;
}
.firstsection .intro {
  display: flex;
  flex-flow: wrap column;
  justify-content: space-evenly;
  background: linear-gradient(white, #eaeaea);
  align-items: center;
  padding-bottom: 32px;
  font-family: "Roboto";
}
@media only screen and (max-width: 767px) {
  .firstsection .intro {
    min-height: 250px;
    max-height: 250px;
    width: 100%;
  }
  .firstsection .intro p {
    display: block;
    box-sizing: border-box;
    width: 70%;
    text-align: center;
  }
}
.firstsection .searchbar_button {
  display: flex;
  flex-wrap: wrap;
  font-size: large;
  border: 0;
  border-radius: 30px;
  box-shadow: 5px 5px 3px lightgrey;
  background: linear-gradient(to right, #ff79da, #9356dc);
  height: 48px;
  align-items: center;
  justify-content: center;
  min-width: 240px;
  max-width: 240px;
}
.firstsection .searchbar_button:hover {
  box-shadow: 15px 15px 15px lightgrey;
  cursor: pointer;
}

.heartcolor {
  font-weight: 100;
}
.heartcolor:active {
  font-weight: 900;
  background-image: linear-Gradient(160deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fillUp 2s ease-in forwards;
}

@keyframes fillUp {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.4);
  }
  80% {
    transform: scale(1), translateY(-10px);
  }
  85% {
    transform: translateY(20px);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
/*.heart-svg {
  fill: transparent;
  stroke: black;
  stroke-width: 50;
   border: 1px solid black;
  &:active {
    fill: $maingradient;
  } */
.xplor-bttn {
  color: white;
}

.directions {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 32px;
  background: white;
  padding-left: 20px;
}
@media only screen and (max-width: 767px) {
  .directions {
    width: 100%;
    padding-top: 20px;
  }
}
@media only screen and (min-width: 767px) {
  .directions {
    background: linear-gradient(white, #eaeaea);
  }
}
.directions h2 {
  padding-top: 20px;
}
.directions .directionbutton {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 40vw;
  border-radius: 30px;
  font-size: large;
  background: #f6f6f6;
}
.directions .directionbutton:hover {
  background: #f0e4ff;
  box-shadow: 5px 5px 5px darkgrey;
}
.directions .directionbutton i :hover {
  color: #f0e4ff;
}
@media only screen and (max-width: 767px) {
  .directions .directionbutton {
    width: 90%;
    max-width: 95%;
  }
}
.directions .directionbutton .stepnumber {
  display: flex;
  align-items: center;
  background: #9356dc;
  width: 39px;
  height: 39px;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  left: -10px;
  color: white;
}
.directions .directionbutton .stepnumber i {
  color: purple;
}
.directions .directionbutton span {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.restaurants {
  background: #f6f6f6;
  display: flex;
  flex-flow: wrap column;
  row-gap: 16px;
}
.restaurants h2 {
  font-family: "Roboto";
  padding-left: 10px;
  font-size: 30px;
  padding-top: 40px;
}

.restaurantcards {
  display: flex;
  flex-flow: wrap row;
  padding-bottom: 48px;
  gap: 35px;
  padding-left: 15px;
  padding-right: 15px;
}
.restaurantcards .card {
  background: white;
  border-radius: 30px;
  color: inherit;
  overflow: hidden;
  width: 47%;
  position: relative;
  box-shadow: 4px 4px 4px lightgrey;
}
.restaurantcards .card:hover {
  box-shadow: 10px 10px 10px lightgrey;
  cursor: pointer;
}
.restaurantcards .card .cardbox {
  display: flex;
  flex-flow: wrap column;
  width: 100%;
}
.restaurantcards .card .cardbox img {
  height: 192px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 767px) {
  .restaurantcards .card {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .restaurantcards .card {
    height: 275px;
    width: 44vw;
    display: flex;
    flex-wrap: wrap;
  }
}
.restaurantcards .card .cardicon {
  display: flex;
  width: 95px;
  height: 35px;
  background: #99e2d0;
  color: darkgreen;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 15px;
  top: 15px;
}
.restaurantcards a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 192px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .restaurantcards a img {
    width: 45vw;
  }
}

.imgcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: black;
  padding-bottom: 15px;
  padding-top: 15px;
}
@media only screen and (min-width: 992px) {
  .imgcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
  }
}
.imgcontainer .containertext {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
}
.imgcontainer .containertext h4 {
  font-family: "Roboto";
}
.imgcontainer .heart {
  display: block;
  width: 10%;
  font-size: 30px;
  padding-right: 15px;
}
.imgcontainer .heart .fa-regular {
  font-size: xx-large;
  position: relative;
  bottom: 10px;
  cursor: pointer;
}

.footer {
  flex-direction: column;
  background: #353535;
  display: flex;
  min-height: 220px;
  max-height: 220px;
  padding-top: 4%;
  padding-left: 4%;
}
.footer p {
  font-family: "Roboto";
}
.footer p:hover {
  text-decoration: underline;
}
.footer h2 {
  color: white;
  font-family: "Shrikhand", "curasive";
}
.footer .footertitle {
  display: flex;
  color: white;
  align-items: center;
  gap: 16px;
  width: 60vw;
  justify-content: start;
  text-decoration: none;
  min-height: 40px;
  max-height: 40px;
}/*# sourceMappingURL=style.css.map */