body {
  margin: 0;
}

main {
  padding: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 5px 5px lightgrey
}
.mainlogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.location {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  padding-left: 275px;
}

.intro button {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  background-color: #ff79da;
  align-items: center;
  border-radius: 18px;
  border: 0px;
}
.intro span {
  color: white;
}
