body {
  margin: 0;
}

main {
  padding: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 5px 5px lightgrey;
}
.mainlogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.firstsection {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(white, #eaeaea);
}

.location {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #eaeaea;
}


.intro {
  display: flex;
  box-sizing: border-box;
  flex-flow: wrap column;
  justify-content: center;
  background: linear-gradient(white, #eaeaea);
  align-items: center;
  width: 50%;
}

.intro button {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: large;
  border: 0;
  border-radius: 30px;
  box-shadow: 5px 5px 3px lightgrey;
  background: linear-gradient(160deg, #ff79da, #9356dc);
}
.intro span {
  color: white;
}

.directionbutton {
  display: flex;
  flex-direction: row;
  align-items: center;
}
