@media only screen and (min-width: 767px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    background: #f6f6f6;
    width: 100%;
  }

  .menuoptions {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
}


